.header {
  padding-block: 4rem;
  background: var(--black);
}

.header-content {
  color: var(--white);
}

.header-img {
  inline-size: 100%;
  block-size: auto;
  margin-block-end: 2rem;
}

.header-details {
  text-align: center;
}

.header-teagline {
  font-size: 1.875rem;
  font-family: var(--fontMain);
  font-weight: 900;
  margin: 0;
}

.header-title {
  margin-block: 1rem;
  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  color: transparent;
  background-clip: text;
}

.header-precio {
  font-size: 3.75rem;
  font-family: var(--fontMain);
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .header {
    padding-block: 5rem;
  }

  .header-content {
    display: flex;
    align-items: center;
  }

  .header-content > * {
    flex: 1;
  }

  .header-title {
    font-size: 6.25rem;
  }

  .header-details {
    text-align: left;
  }
}
