.scImage {
  background: linear-gradient(to bottom, transparent 50%, var(--primary) 0%),
    url(../img/imagen-mujer.jpg) no-repeat right;
}

.scImage-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.scImage-details {
  grid-row: 2/3;
  color: var(--white);
  text-align: center;
  padding-block: 1.5rem;
}

.scImage-text {
  font-size: 1.25rem;
}

@media screen and (min-width: 500px) {
  .scImage-content {
    padding-block: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .scImage {
    background: linear-gradient(to left, transparent 50%, var(--primary) 0%),
      url(../img/imagen-mujer.jpg) no-repeat right;
  }

  .scImage-content {
    grid-template-rows: unset;
    row-gap: unset;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .scImage-details {
    grid-column: 1/2;
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .scImage-content {
    padding-block: 4rem;
  }
}
