:root {
  --bgImage: 18.75rem;
}

.notavif.notwebp .scImage {
  background: linear-gradient(to bottom, transparent 50%, var(--primary) 0%),
    url(../img/imagen-mujer.jpg) no-repeat right top;
}
.webp .scImage {
  background: linear-gradient(to bottom, transparent 50%, var(--primary) 0%),
    url(../img/imagen-mujer.webp) no-repeat right top;
}
.avif .scImage {
  background: linear-gradient(to bottom, transparent 50%, var(--primary) 0%),
    url(../img/imagen-mujer.avif) no-repeat right top;
}

.notavif.notwebp .scImage.is-white {
  background: linear-gradient(
      to bottom,
      transparent var(--bgImage),
      var(--white) 0%
    ),
    url(../img/newsletter.jpg) no-repeat top center;
  background-size: 100%, 43.75rem;
}
.webp .scImage.is-white {
  background: linear-gradient(
      to bottom,
      transparent var(--bgImage),
      var(--white) 0%
    ),
    url(../img/newsletter.webp) no-repeat top center;
  background-size: 100%, 43.75rem;
}
.avif .scImage.is-white {
  background: linear-gradient(
      to bottom,
      transparent var(--bgImage),
      var(--white) 0%
    ),
    url(../img/newsletter.avif) no-repeat top center;
  background-size: 100%, 43.75rem;
}

.scImage-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
}

.scImage-content.is-gridAuto {
  grid-template-rows: repeat(2, minmax(var(--bgImage), auto));
}

.scImage-title {
  font-size: 2.25rem;
}

.scImage-details {
  grid-row: 2/3;
  color: var(--white);
  text-align: center;
  padding-block: 1.5rem;
}

.scImage-details.is-black {
  color: var(--black);
  background: var(--white);
}

.scImage-text {
  font-size: 1.25rem;
}

@media screen and (min-width: 500px) {
  .scImage-content {
    padding-block: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .notavif.notwebp .scImage.is-white {
    background: linear-gradient(
        to bottom,
        transparent var(--bgImage),
        var(--white) 0%
      ),
      url(../img/newsletter.jpg) no-repeat top center;
    background-size: 100%, 53.75rem;
  }
  .webp .scImage.is-white {
    background: linear-gradient(
        to bottom,
        transparent var(--bgImage),
        var(--white) 0%
      ),
      url(../img/newsletter.webp) no-repeat top center;
    background-size: 100%, 53.75rem;
  }
  .avif .scImage.is-white {
    background: linear-gradient(
        to bottom,
        transparent var(--bgImage),
        var(--white) 0%
      ),
      url(../img/newsletter.avif) no-repeat top center;
    background-size: 100%, 53.75rem;
  }
}

@media screen and (min-width: 768px) {
  .notavif.notwebp .scImage {
    background: linear-gradient(to left, transparent 50%, var(--primary) 0%),
      url(../img/imagen-mujer.jpg) no-repeat right;
  }
  .webp .scImage {
    background: linear-gradient(to left, transparent 50%, var(--primary) 0%),
      url(../img/imagen-mujer.webp) no-repeat right;
  }
  .avif .scImage {
    background: linear-gradient(to left, transparent 50%, var(--primary) 0%),
      url(../img/imagen-mujer.avif) no-repeat right;
  }

  .notavif.notwebp .scImage.is-white {
    background: linear-gradient(to right, transparent 50%, var(--white) 0%),
      url(../img/newsletter.jpg) no-repeat top right 5rem;
  }
  .webp .scImage.is-white {
    background: linear-gradient(to right, transparent 50%, var(--white) 0%),
      url(../img/newsletter.webp) no-repeat top right 5rem;
  }
  .avif .scImage.is-white {
    background: linear-gradient(to right, transparent 50%, var(--white) 0%),
      url(../img/newsletter.avif) no-repeat top right 5rem;
  }

  .scImage-content {
    grid-template-rows: unset;
    row-gap: unset;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .scImage-content.is-gridAuto {
    grid-template-rows: unset;
  }

  .scImage-details {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }

  .scImage-details.is-black {
    grid-column: 2/3;
  }
}

@media screen and (min-width: 900px) {
  .notavif.notwebp .scImage.is-white {
    background: linear-gradient(to right, transparent 50%, var(--white) 0%),
      url(../img/newsletter.jpg) no-repeat;
    background-position: center, -5rem 0rem;
  }
  .webp .scImage.is-white {
    background: linear-gradient(to right, transparent 50%, var(--white) 0%),
      url(../img/newsletter.webp) no-repeat;
    background-position: center, -5rem 0rem;
  }
  .avif .scImage.is-white {
    background: linear-gradient(to right, transparent 50%, var(--white) 0%),
      url(../img/newsletter.avif) no-repeat;
    background-position: center, -5rem 0rem;
  }
  .scImage-content {
    padding-block: 4rem;
    column-gap: 6rem;
  }
}

@media screen and (min-width: 1500px) {
  .notavif.notwebp .scImage {
    background-position-x: right;
    background-size: auto, 50%;
  }
  .webp .scImage {
    background-position-x: right;
    background-size: auto, 50%;
  }
  .avif .scImage {
    background-position-x: right;
    background-size: auto, 50%;
  }
  .notavif.notwebp .scImage.is-white {
    background-position-x: left;
    background-size: auto, 50%;
  }
  .webp .scImage.is-white {
    background-position-x: left;
    background-size: auto, 50%;
  }
  .avif .scImage.is-white {
    background-position-x: left;
    background-size: auto, 50%;
  }

  .scImage-content {
    column-gap: 8rem;
  }
}
